<p style="color: green"><%= notice %></p>

<%= render @list %>

<% @list.items.each do |item| %>
  <%= render Lists::ItemComponent.new(list: @list, item: item) %>
<% end %>

<%= render Lists::NewItemComponent.new(list_id: @list.id) %>

<div>
  <%= link_to "Edit this list", edit_list_path(@list) %> |
  <%= link_to "Back to lists", lists_path %>

  <%= button_to "Destroy this list", @list, method: :delete %>
</div>
